// These styles are specifically for Pattern Lab.
// They are not used by the site in any way.

.pl-template {
  display: flex;
  flex-flow: column nowrap;
}

.pl,
.sg-main {
  .sg-subtype h2 {
    font-size: 3rem;
    text-transform: uppercase;
    background-color: $gray-darker;

    a {
      @include wrapper(
        $v-padding: $space
      );

      display: block;
      color: $white;
      text-decoration: none;
      line-height: 1;
    }
  }

  .sg-pattern > div {
    @include wrapper;
  }

  .sg-pattern-title {
    color: #738ba3;
    font-size: 1.4rem !important;
    text-transform: none !important;

    a {
      color: #1169ba !important;
      font-family: Calibre;
      font-size: 2.2rem;
      font-weight: 500;
      text-transform: uppercase !important;
    }
  }

  .sg-pattern-extra-info {
    width: 100%;
  }

  .sg-pattern-extra-code {
    display: none;
  }

  .visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
    width: 1px;
    word-wrap: normal;
  }

  .sg-colors {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      flex: 0 0 130px;
      margin: 0 0.5rem 1rem;
    }

    &__sample {
      display: block;
      height: 100px;
      margin-bottom: 0.3em;
    }
  }
}

.pl-client-header {
  background: #000;
  color: rgba(255, 255, 255, 0.52);
  font-size: 14px;
  font-family: 'Roboto', Helvetica, Arial, serif;
  margin: 0;
  padding: 10px;
  text-align: center;
}

.pl .sg-subtype > h2 {
  background: #000;
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 24px;
  font-weight: normal;
  margin-top: 0;
  text-transform: capitalize;
}

.pl-note {
  border: 1px solid #43a047;
  color: #43a047;
  left: 24px;
  padding: 10px;
  position: relative;
  p {
    &:first-child {
      margin-top: 0;
    }
  }
  &:before {
    background: #43a047;
    content: '';
    display: block;
    left: -24px;
    height: 24px;
    position: absolute;
    top: -1px;
    width: 24px;
    z-index: 1;
  }
  &:after {
    background: #fff;
    border-radius: 50%;
    color: #43a047;
    content: '!';
    display: block;
    font-weight: bold;
    left: -22px;
    height: 20px;
    position: absolute;
    text-align: center;
    top: 1px;
    width: 20px;
    z-index: 1;
  }
}

.pl-note__list {
  column-count: 2;
}